body{
	background: #F2F6F9 !important;
	font-family: 'Playfair Display', serif !important;


}


img{
	width: 350px;
	height: 200px;
}

nav{
	width: 100%;
	height:12vh;
	background-color: white;
	border-radius: 3px;

	ul{
		margin: 0 auto;
		width: 500px;
		padding: 10px 0 10px 0;
		display: flex;
		justify-content: center;

		li{
			margin: 0 10px;
			a{
				color: black;
				letter-spacing: 3px;
				font-size: 1.2em;
				font-weight: 900;


				&:hover{
					color: #ccc;
					transition: color .2s;
				}
				// text-transform: uppercase;
			}
		}
	}
}

.main {
	margin-top: 5px;
	margin-bottom: 20px;
	position: relative;
	// width: 60%;
	.form-input{
		display: flex;
		width: 60%;
		margin: 0 0 0 30%;


		input[type="text"]{
		width: 60%;
		// margin:0 auto;
		border: 1px solid white;
		display: flex;
		justify-content: center;
		padding: 10px 40px;
		border-radius: 3px;
		color: black;
		font-size: 1.2em;
		// text-transform: uppercase;

	}
	button[type="submit"]{
		width:50px;
		// margin: 0 auto 0px auto;
		display: flex;
		justify-content: center;
		// margin-top: -12px;
		padding: 0 0;
		background-color: #0B7BFF;
		border: none;
		color: white;
		border-radius: 2px;
		text-transform: uppercase;
		cursor: pointer;

		&:hover{
		box-shadow: 0 0 10px #719ECE;
			}
		// letter-spacing: 3px;
		// font-weight: 900;
	}
	}
	
	.magnifier{
		position: relative;
		top: 42px;
		left:345px;
		color: #ccc;
		font-size: 1.4em;
	}
}

.info-box{
	width: 250px;
	display: flex;
	height: 340px;
	// flex-direction: row;
	display: inline-block;
	margin: 15px 10px 10px 10px;
	background: white;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 5px;
	border: none;
	// flex-wrap: wrap;

	li{
		list-style: none;
		display: inline;
		display: flex;
		flex-wrap: wrap;

		h6{
			display: flex;
			justify-content: center;
			text-align: center;
			width: 100%;
			letter-spacing: 1px;
			font-weight: 900;
			margin-bottom: 15px !important;
		}

		img{
			width: 100%;
			filter: contrast(80%);

			&:hover{
				filter: contrast(1);
				transform: scale(1.02);
				transition: all .2s;
			}
		}

		a{
			width: 60%;
			text-align: center;
			// margin-top: 20px;
			margin:15px auto 0 auto;
			text-transform: uppercase;
			// padding: 2px;
			border: 1px solid #0B7BFF;
			text-decoration: none;
			// background-color: #0B7BFF;
			color: #0B7BFF;
			border-radius: 25px;
			padding: 4px;
			letter-spacing:  1px;
			cursor: pointer;
	

			&:hover{
				background-color: #0B7BFF;
				color: white;
				transition: all .2s;
			}
		}
	}

	&:hover{
		box-shadow: 0 0 11px rgba(33,33,33,.2); 
		transition: box-shadow .5s;
	}
}



.recipe{
	width: 60%;
	margin: 25px auto 0 auto;
	background-color: white;
	padding: 2% 10%;

	h1{
		letter-spacing: 1px;
		font-weight: 900;
		font-size: 2.4em;
		margin-bottom: 25px;
		padding-bottom: 10px;
		border-bottom:5px double black;
	}

	img{
		width: 100%;
		padding: 0 0;
	}

	h6{
		font-size: .8em;
		font-weight: 900;
		float: right;
		margin-top: 5px;
	}
	h3{
		font-size: 2em;
		font-weight: 900;
		margin: 10px 0;
	}
}
.about{
	width: 60%;
	margin: 1% auto;
	background-color: white;
	padding: 2% 10%;
}
.contact{
	width: 65%;
	height: 80vh;
	padding: 2% 10%;
	margin: 15px auto 0 auto;
	background-color: white;


	form{
		label{
			letter-spacing: 5px;
			word-spacing: 2px;
			text-transform: uppercase;
			font-weight: 900;
			font-size: .8em;
			margin-bottom: 10px;
		}
		input{
			width: 100%;
			padding: 2px 10px;
			border: 1px solid black;
			border-radius: 2px;
		}
		textarea{
			width: 100%;
			padding: 5px 10px;
			border: 1px solid black;
			border-radius: 2px;
		}
		button{
			width: 100%;
			background: #fc5d76;
			border: 2px solid #fc5d76;
			border-radius: 3px;
			color: white;
			cursor: pointer;
			margin-top: 5px;
			letter-spacing: 5px;
			padding: 5px 0;
			// text-transform: lowercase;
			// font-weight: 600;
			font-weight: 900;

			&:hover{
				background-color: #fb1a3e;
			}

		}
	}
}
.message-box{
	margin: 5px;
	border: 2px solid #fb1a3e;
	border-radius: 2px;

	p{
		margin: 0 0 0 0;
		font-size: .8em;
		letter-spacing: 2px;
		padding: 5px;
	}
}


.clear{
	clear:both
}

input:focus,
textarea:focus {
    outline: none !important;
    // border:1px solid #0B7BFF;
    border: none;
    box-shadow: 0 0 10px #719ECE;
}
