<% include partials/header.ejs%>
<nav>
	<ul class="nav">
	  <li class="nav-item">
	    <a class="nav-link " href="/">Home</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="about">About</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="contact">Contact</a>
	  </li>
	</ul>
</nav>

	<div class="about">
		<p> This Node App was created by <a href="http://shanilplusplus.com/" target="_blank">Shanil Sigera</a> using the food2fork.com API</p>
	</div>


<% include partials/footer.ejs%>