<% include partials/header.ejs%>
<nav>
	<ul class="nav">
	  <li class="nav-item">
	    <a class="nav-link " href="/">Home</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/about">About</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="contact">Contact</a>
	  </li>
	</ul>
</nav>

<div class="contact">
<form action="/contact" method="POST">
	<div>
	<label> Name</label>
	</div>
	<div>
	<input type="text" name="name">
	</div>
	<div>
	<label> Email</label>
	</div>
	<div>
	<input type="email" name="email">
	</div>
	<div>
	<label> Subject</label>
	</div>
	<div>
	<input type="text" name="subject">
	</div>
	<div>
	<label>Message </label>
	</div>
	<div>
	<textarea rows="4" cols="50" name="message">
	</textarea>
	<div>
	<div>
		<button type="submit">Submit</button>
	</div>
</form>
</div>
<% if (typeof(name) !== 'undefined') { %>
	<div class="message-box">
	<p>Thank you for your message <%= name.charAt(0).toUpperCase() + name.slice(1) %> </p>
	</div>
	<% } %>	



<% include partials/footer.ejs%>