<% include partials/header.ejs%>
<nav>
	<ul class="nav">
	  <li class="nav-item">
	    <a class="nav-link active" href="/">Home</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="./about">About</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="./contact">Contact</a>
	  </li>
	</ul>
</nav>

<div class="form">
	<form action="/" method="POST" class="main">
		<span class="magnifier"><i class="fa fa-search" aria-hidden="true"></i></span>
		<div class="form-input">
		<input type="text" name="search" placeholder="Search for a Recipe e.g. Pizza, Burger">
		<button type="submit" class="btn btn-success">
   		 <i class="fa fa-paper-plane" aria-hidden="true"></i>
		</button>
		</div>
	</form>
</div>
<% if (typeof(data) !== 'undefined'){ %>
<% data['recipes'].forEach(function(recipe){ %>
	<div class="info-box">	
	<li>
	<% var decodedTitleMain = recipe.title.replace(/&amp;/g, '&'); %>
	<h6><%= decodedTitleMain %></h6>
	<img  src="<%= recipe['image_url'] %>">
	<!-- <a href="<%= recipe['source_url'] %>">Get Recipe</a> -->
	<!-- <p><%= recipe['ingredients'] %></p> -->
	<!-- <p><%=  recipe['recipe_id'] %></p> -->
    		<a href="/recipe/<%=  recipe['recipe_id'] %>">Get Recipe</a>
	</li>
	</div>
<% }) %>
<%}%>


<% include partials/footer.ejs%>