<% include partials/header.ejs%>
<nav>
	<ul class="nav">
	  <li class="nav-item">
	    <a class="nav-link " href="/">Home</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/about">About</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" href="/contact">Contact</a>
	  </li>
	</ul>
</nav>
	<div class="recipe">
		
		<% var decodedTitle = id.title.replace(/&amp;/g, '&'); %>
		<h1><%= decodedTitle %></h1>
		<img src="<%= id.image_url %>" alt="">
		<a href="<%= id.source_url %>" target="_blank"><h6>Author/Source - <%= id.publisher%></h6></a>
		<div class="clear"></div>
		<h3>Ingredients for the Recipe:</h3>
		<% id.ingredients.forEach(function(ingredient){%> 
			<% var decoded = ingredient.replace(/&amp;/g, '&'); %>
			<li><%= decoded %></li>
			<%});%>
		<%  include partials/footer.ejs %>
	</div>

<% include partials/footer.ejs%>