body {
  background: #F2F6F9 !important;
  font-family: 'Playfair Display', serif !important; }

img {
  width: 350px;
  height: 200px; }

nav {
  width: 100%;
  height: 12vh;
  background-color: white;
  border-radius: 3px; }
  nav ul {
    margin: 0 auto;
    width: 500px;
    padding: 10px 0 10px 0;
    display: flex;
    justify-content: center; }
    nav ul li {
      margin: 0 10px; }
      nav ul li a {
        color: black;
        letter-spacing: 3px;
        font-size: 1.2em;
        font-weight: 900; }
        nav ul li a:hover {
          color: #ccc;
          transition: color .2s; }

.main {
  margin-top: 5px;
  margin-bottom: 20px;
  position: relative; }
  .main .form-input {
    display: flex;
    width: 60%;
    margin: 0 0 0 30%; }
    .main .form-input input[type="text"] {
      width: 60%;
      border: 1px solid white;
      display: flex;
      justify-content: center;
      padding: 10px 40px;
      border-radius: 3px;
      color: black;
      font-size: 1.2em; }
    .main .form-input button[type="submit"] {
      width: 50px;
      display: flex;
      justify-content: center;
      padding: 0 0;
      background-color: #0B7BFF;
      border: none;
      color: white;
      border-radius: 2px;
      text-transform: uppercase;
      cursor: pointer; }
      .main .form-input button[type="submit"]:hover {
        box-shadow: 0 0 10px #719ECE; }
  .main .magnifier {
    position: relative;
    top: 42px;
    left: 345px;
    color: #ccc;
    font-size: 1.4em; }

.info-box {
  width: 250px;
  display: flex;
  height: 340px;
  display: inline-block;
  margin: 15px 10px 10px 10px;
  background: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 5px;
  border: none; }
  .info-box li {
    list-style: none;
    display: inline;
    display: flex;
    flex-wrap: wrap; }
    .info-box li h6 {
      display: flex;
      justify-content: center;
      text-align: center;
      width: 100%;
      letter-spacing: 1px;
      font-weight: 900;
      margin-bottom: 15px !important; }
    .info-box li img {
      width: 100%;
      filter: contrast(80%); }
      .info-box li img:hover {
        filter: contrast(1);
        transform: scale(1.02);
        transition: all .2s; }
    .info-box li a {
      width: 60%;
      text-align: center;
      margin: 15px auto 0 auto;
      text-transform: uppercase;
      border: 1px solid #0B7BFF;
      text-decoration: none;
      color: #0B7BFF;
      border-radius: 25px;
      padding: 4px;
      letter-spacing: 1px;
      cursor: pointer; }
      .info-box li a:hover {
        background-color: #0B7BFF;
        color: white;
        transition: all .2s; }
  .info-box:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
    transition: box-shadow .5s; }

.recipe {
  width: 60%;
  margin: 25px auto 0 auto;
  background-color: white;
  padding: 2% 10%; }
  .recipe h1 {
    letter-spacing: 1px;
    font-weight: 900;
    font-size: 2.4em;
    margin-bottom: 25px;
    padding-bottom: 10px;
    border-bottom: 5px double black; }
  .recipe img {
    width: 100%;
    padding: 0 0; }
  .recipe h6 {
    font-size: .8em;
    font-weight: 900;
    float: right;
    margin-top: 5px; }
  .recipe h3 {
    font-size: 2em;
    font-weight: 900;
    margin: 10px 0; }

.about {
  width: 60%;
  margin: 1% auto;
  background-color: white;
  padding: 2% 10%; }

.contact {
  width: 65%;
  height: 80vh;
  padding: 2% 10%;
  margin: 15px auto 0 auto;
  background-color: white; }
  .contact form label {
    letter-spacing: 5px;
    word-spacing: 2px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: .8em;
    margin-bottom: 10px; }
  .contact form input {
    width: 100%;
    padding: 2px 10px;
    border: 1px solid black;
    border-radius: 2px; }
  .contact form textarea {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 2px; }
  .contact form button {
    width: 100%;
    background: #fc5d76;
    border: 2px solid #fc5d76;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    margin-top: 5px;
    letter-spacing: 5px;
    padding: 5px 0;
    font-weight: 900; }
    .contact form button:hover {
      background-color: #fb1a3e; }

.message-box {
  margin: 5px;
  border: 2px solid #fb1a3e;
  border-radius: 2px; }
  .message-box p {
    margin: 0 0 0 0;
    font-size: .8em;
    letter-spacing: 2px;
    padding: 5px; }

.clear {
  clear: both; }

input:focus,
textarea:focus {
  outline: none !important;
  border: none;
  box-shadow: 0 0 10px #719ECE; }
